.container__keis {
    padding-top: 5.625rem;
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 75rem;
    height: 100%;
    min-height: 40.625rem;
    display: flex;
justify-content: space-around;   
 position: relative;
    flex-wrap: wrap;
    gap: 7rem;
  
  
  }
  @media (max-width: 768px){
    .container__keis{
      flex-direction: column;
      justify-content: center;
    }
    .col__keis{
      margin: 0 auto;
      border-right: none;
      flex-direction: column;
    }
    .col__right--problem{
      margin: 0 auto:
    }
  }
  
  .col__keis {
    flex: 0 1 50%;
    position: relative;
    flex: 1;
    border-right: 0.0625rem solid #000000;

  }
  .col__keis:last-child{
    border: none;
  }


  .col__right--problem{
    margin: 0 0 0 8.25rem;
  }
  
  
  
  .col__title {
    z-index: 10;
    display: flex;
    font-size: 1.125rem;
    color: #ffffff;
    position: absolute;
    left: -4.6rem;
    top: 20px;
  }
  .col__title--right{
    left: 0;
  }
  
  .col__img {  
    position: relative; 
    top: -40px;
  }
  .img__situation{

}
  
  .col__img--desc {
    margin: 2.7rem 0 4.5rem 0;
    padding: 0 3rem 0 0.5rem;
    position: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
  
  
  
  .col__subtitle {
    padding-top: .625rem;
    margin-bottom: 1.875rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
  }
  
  
  
  .decision__item {
    display: flex;
    font-size: 1.125rem;
    margin-bottom: 5rem;
    height: 7.5rem;
  }
  
  .decision__icon,
  .decission__icon--two {
    background: url(../img/Groupkrug.svg);
    min-width: 120px;
    margin-right: 3.125rem;
    min-height: 120px;
    position: relative;
  }
  
  .decision__icon::before,
  .decission__icon--two::before {
    z-index: 5;
    /* top: 0.5rem; */
    width: 2.0625rem;
    height: 2.0625rem;
    content: url(../img/elipseblack.svg);
    position: absolute;
  }
  
  .decision__icon::after {
    z-index: 10;
    top: -24px;
    left: 60px;
    content: "1";
    position: absolute;
    font-weight: 700;
    font-size: 144px;
    line-height: 10.5625rem;
  }
  
  .decission__icon--two:after {
    z-index: 10;
    top: -24px;
    left: 56px;
    content: "2";
    position: absolute;
    font-weight: 700;
    font-size: 144px;
    line-height: 10.5625rem;
  }
  
  .decission__icon--two:hover::after,
  .decision__icon:hover::after {
    color: #FDBF0F;
  }
  
  
  .decision__item:hover,
  .col__img--desc:hover {
    transition: 0.5s;
  }
  
  
  
  
  .decision__desc {
    padding-top: 1.25rem;
    font-size: .875rem;
    max-width: 18.75rem;
    text-align: center;
height: auto;
  }
  
  .tally {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    width: 8.1875rem;
    height: 2.5rem;
    border-radius: .25rem;
    background: #651FFF;
    color: #FFFFFF;
  }
  
  .tally::after {
    display: block;
    content: '';
    width: 4px;
    height: 100%;
    border-radius: 0 4px 4px 0;
    background: radial-gradient(at 100% 50%, transparent 2px, #651fff 2px, #651fff);
    background-size: 4px 6px;
    position: absolute;
    top: 0;
    right: -2px;
  }
  
  .tally::before {
    display: block;
    content: '';
    width: 4px;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background: radial-gradient(at 0% 50%, transparent 2px, #651fff 2px, #651fff);
    background-size: 4px 6px;
    position: absolute;
    top: 0;
    left: -2px;
  }
  