html {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }

  img {
    max-height: 60%;
    max-width: 60%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 3px;
  }
}




body {
  color: black;
  font-size: 1rem;
  line-height: 1.42;
  font-family: 'Roboto Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

}

img {
  border-style: none;
  max-width: 100%;

}


a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul,
li {
  list-style: none;
  padding-inline-start: 0px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}



.decor__circles {
  position: relative;
}

.decor__circles::after,
.decor__circles::before {
  content: "";
  position: absolute;
  z-index: 2;
  border-color: rgba(253, 191, 15, 0.3);
  border-style: solid;
  border-radius: 50%;
  border-right: none;
  border-bottom: none;
}

.decor__circles::after {
  top: 50%;
  left: -8px;
  width: 1900px;
  height: 1900px;
  border-width: 180px;
  transform: translateY(-49%) rotate(-45deg);
}

@media (max-width: 992px) {
  .decor__circles::after {
    border-width: 160px;
  }
}

.decor__circles::before {
  top: 50%;
  left: 345px;
  width: 1150px;
  height: 1150px;
  border-width: 150px;
  transform: translateY(-48%) rotate(-45deg);
}

@media (max-width: 992px) {
  .decor__circles::before {
    border-width: 130px;
    left: 260px;
  }
}


.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.wrapper__hero {
  background: linear-gradient(0deg, #651FFF -1.81%, #FF5900 33.5%, rgba(253, 191, 15, 0.3) 84.16%, #fff 145.56%), #FDBF0F;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.container__hero {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 720px;

}




.header {
  height: 200px;
  position: relative;
  z-index: 10;
}

.logo {
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  margin-right: 74px;
  font-size: 48px;

}

.menu {
  position: absolute;
  top: 24px;
  right: 0;
}



.menu__list {
  margin: 0rem;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3.125rem;
}

.menu__item:last-child {
  margin-right: 0px;
}


.menu__link {
  font-size: .875rem;
  transition: 0.4s;
}

.menu__link:hover {
  color: #7224EA;
  transition: 0.3s;
}

.menu__link:after {
  display: block;
  left: 0;
  width: 0;
  height: .125rem;
  background-color: #7224EA;
  content: "";
  transition: width 0.3s ease-out;
}

.menu__link:hover:after {
  color: #7224EA;
  width: 100%;
}



.contacts {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 90px;
  right: 0;
  text-align: center;
  max-width: 1280px;

}

.adress__icon {
  margin-right: 20px;
}

.contacts__adress {
  margin-right: 76px;
  font-size: 14px;
}

.contacts__number {
  margin-right: 76px;

  text-decoration: none;
  font-size: 24px;
  margin-bottom: .25rem;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;

}

.contacts__number:hover {
  transition: 0.3s;
  color: #7224EA;
}

.contacts__feedback {
  font-size: .8125rem;
  text-decoration: underline;
}

.btn__hero {
  z-index: 10;
  width: 160px;
  color: white;
  background-color: #162223;
  border-radius: 6px 0px 0px 6px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  transition: 0.4s;
  height: 20px;
}


.test {
  z-index: 10;
  display: flex;
}

.test:hover .btn__hero {
  background-color: #FDBF0F;
  transition: 0.4s;
  color: #162223;
}

.btn__triangle {
  transition: 0.4s;
  z-index: 10;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 10px solid #162223;
  border-bottom: 20px solid transparent;
}

.test:hover .btn__triangle {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 10px solid #FDBF0F;
  border-bottom: 20px solid transparent;
  transition: 0.4s;
}


.hero__content {
  width: auto;
  max-width: 86.25rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
  position: relative;
  z-index: 8;
}

.logo__ali {
  justify-self: end;
}

.hero__content:after {
  content: url(../img/4511.png);
  position: absolute;
  right: -1.875rem;
  bottom: .9375rem;
  transition: 0.3s;
}

.hero__img-section {
  right: -170px;
  top: -145px;
  position: relative;
}

.hero__title {
  font-size: 54px;
  text-align: end;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 10px;
  height: 50px;


}

.hero__subtitle {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 22px;
  max-width: 380px;
}

.hero__title-section::after {
  content: url(../img/devushka.png);
  position: absolute;
  top: -30px;
  left: 260px;
  z-index: 10;
}

/*    keis    */

.container__keis {
  padding-top: 90px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 650px;
  display: flex;
  text-align: justify;
  position: relative;

}

.col__keis {
  width: 50%;
}

.col__title {
  z-index: 10;
  height: 40px;
  width: 130px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ffffff;
  background: url(../img/Subtract.png) no-repeat;
  position: relative;
}

.col__img {
  position: relative;
  top: -90px;
  padding-right: 70px;
  text-align: end;
  margin-bottom: 30px;
}

.col__img--desc {
  margin: -50px 0px 0 168px;
  font-size: 18px;
  width: 100%;
  max-width: 350px;
}

.col__right--problem::after {
  content: url(../img/Line.png);
  position: relative;
  bottom: 469px;
  left: 570px;
}





.col__left {
  margin-left: 50px;
}

.col__subtitle {
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
}



.decision__item {
  display: flex;
  font-size: 18px;
  margin-bottom: 80px;
  height: 120px;
}

.decision__icon,
.decission__icon--two {
  top: -40px;
  width: 30%;
  margin-right: 50px;
  max-width: 120px;
  position: relative;
}

.decision__icon::before,
.decission__icon--two::before {
  z-index: 10;
  top: 40px;
  content: url(../img/elipseblack.svg);
  position: relative;
}

.decision__icon::after {
  z-index: 10;
  top: -120px;
  left: 60px;
  content: url(../img/1.svg);
  position: relative;

}

.decission__icon--two:after {
  z-index: 10;
  top: -120px;
  left: 60px;
  content: url(../img/2.svg);
  position: relative;
}


.decision__desc {
  padding-top: 20px;
  font-size: 14px;
  max-width: 300px;
  width: 70%;
  text-align: center;
}

.tally {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 131px;
  height: 40px;
  border-radius: 4px;
  background: #651FFF;
  color: #FFFFFF;
}

.tally::after {
  position: absolute;
  content: '';
  width: 4px;
  height: calc(100% - 8px);
  left: -2px;
  top: 4px;
  bottom: 5px;
  background: url('../img/circle.svg') 0 0/ 4px 4px repeat-y;
}

.tally::before {
  position: absolute;
  content: '';
  width: 4px;
  height: calc(100% - 8px);
  left: 129px;
  top: 4px;
  bottom: 5px;
  background: url('../img/circle.svg') 0 0/ 4px 4px repeat-y;
  overflow: hidden;
}


/*_------___--benefits___----__-__---*/


.wrapper__benefits {
  background-color: #7224EA;
}

.container__benefits {
  width: 100%;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  position: relative;
}

.container__benefits::after {
  content: url(../img/tel_krugi.svg);
  position: relative;
  bottom: 730px;
  left: 550px;
}


.container__title {
  padding-top: 80px;
  font-size: 32px;
  color: #FFFFFF;
  width: 800px;
  margin-bottom: 100px;
}

.benefits__content {
  margin-bottom: 30px;

}

.benefits__list {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-flow: row wrap;

}

.benefits__item {
  display: flex;
  background-color: #FFFFFF;
  height: 120px;
  width: 374px;
  margin: 0 20px 20px 0;
  z-index: 10;
  align-items: center;
}

.benefits__icon {
  width: 60px;
  margin: 20px;
}

.benefits__desc {
  font-size: 16px;
  width: 250px;
}


.btn__benefits {
  z-index: 10;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #FF5900;
  border-radius: 6px 0px 0px 6px;
  padding-top: 18px;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 24px;
  transition: 0.4s;
  text-align: center;
}

.benefits__triangle {
  transition: 0.4s;
  z-index: 10;
  width: 0;
  height: 0;
  border-top: 33px solid transparent;
  border-left: 20px solid #FF5900;
  border-bottom: 35px solid transparent;
}


/*-----_____------_-__-why___----__-__-_*/


.wrapper__why {
  margin: 0 auto;
  margin-bottom: 100px;

}

.container__why,
.container__process {
  width: 100%;
  max-width: 1280px;
  height: 920px;
  margin: 0 auto;
  margin-bottom: 70px;
  position: relative;
}



.container__title--why {
  padding-top: 120px;
  font-size: 32px;
  color: black;
  width: 1200px;
  margin-bottom: 85px;
}

.col__problems {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 970px;
}

.problems__list {
  padding-left: 15px;
  right: 0px;
}

.problems__item {
  list-style-type: disc;
  width: 325px;
  margin-bottom: 40px;
  padding-left: 25px;
}

.col__title--why-left {
  padding: 5px 40px;
  margin-bottom: 50px;
}

.col__title--why-left::before {
  position: absolute;
  content: '';
  width: 4px;
  height: calc(100% - 8px);
  left: 209px;
  top: 4px;
  bottom: 5px;
  background: url(../img/circle.svg) 0 0/ 4px 4px repeat-y;
  overflow: hidden;
}

.col__title--why-right {
  margin-left: 60px;

  width: 300px;
  padding: 5px 30px;
  margin-bottom: 50px;
}

.col__title--why-right::before {
  position: absolute;
  content: '';
  width: 4px;
  height: calc(100% - 8px);
  left: 358px;
  top: 4px;
  bottom: 5px;
  background: url(../img/circle.svg) 0 0/ 4px 4px repeat-y;
  overflow: hidden;
}

.benefits__list--why {
  padding-left: 60px;
  display: flex;
  flex-flow: row wrap;
  width: 700px;

}

.benefits__item--why {
  width: 310px;
  height: 60px;
  display: flex;
  margin: 0 30px 50px 0;

}



.col__right--why {
  position: relative;
}

.col__right--why::after {
  content: "";
  bottom: 300px;
  left: 125px;
  width: 720px;
  position: absolute;
  border: 1px solid #000000;
  transform: rotate(90deg);
}



.benefits__icon--why {
  margin: 0 5px 45px 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 8px solid #FCBF14;
  display: block;
  position: relative;
}

.benefits__icon--why:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #651FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits__desc--why {
  padding-left: 10px;
}

.col__right--desc {
  padding-left: 60px;
  display: flex;
  margin-bottom: 60px;
}


.btn__why {
  padding-left: 60px;
}

.why__footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  height: 300px;
  background-color: #7224EA;
}


.containeer__title--why-footer {
  font-size: 32px;
  width: 1280px;
  padding-left: 20px;
  margin-bottom: 50px;

}

.benefits__list--why-footer {
  width: 1280px;
  padding-left: 20px;
  margin-bottom: 80px;
  color: #FFFFFF;

}

.benefits__item--why-footer {
  width: 500px;
  height: 50px;
}

.benefits__icon--why-footer--left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  display: block;
  position: relative;
}

.benefits__icon--why-footer--left:before {
  display: block;
  width: 50px;
  height: 40px;
  border-radius: 10%;
  background: url(../img/house.svg) no-repeat;
  position: absolute;
  top: 59%;
  left: 62%;

}

.benefits__icon--why-footer--right {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  display: block;
  position: relative;
}

.benefits__icon--why-footer--right:before {
  display: block;
  width: 50px;
  height: 40px;
  border-radius: 10%;
  background: url(../img/factory.svg) no-repeat;
  position: absolute;
  top: 53%;
  left: 62%;

}

.why-footer__item-desc {
  padding-left: 30px;
  padding-top: 20px;
}

.benefits__desc--why-footer {
  padding-left: 0px;
}

/*---____----- process--_-___-__*/

.wrapper__process {
  background: #F5F5F5;
  margin: 0 auto;
  margin-bottom: 100px;
}

.container__process {
  width: 100%;
  max-width: 1280px;
  height: 765px;
  margin: 0 auto;
  margin-bottom: 70px;
  position: relative;
  background: url(../img/chel_meshen.png) center bottom no-repeat;
}

.circle__process{
  position: absolute;
  border-radius: 50%;
width: 520px;
height: 520px;
left: 29.5%;
top: 23%;

border: 3px solid #000000;
box-sizing: border-box;
}

.container__title--process {
  font-size: 32px;
  color: black;
  width: 1200px;
  margin-bottom: 85px;
}

.process__item {
  width: 500px;
  position: relative;
  margin: 0px 0px; 
  margin-right: 0px;
}

.process__desc {
  width: 327px;
}

.process__icon {
  margin:0 20px ;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 7px solid #FCBF14;
  display: block;
  position: relative;
}

.process__icon::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #651FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.process__icon::after {
  content: "";
  font-weight: bold;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  display: block;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 23%;
  left: 40%;
}

.process__icon--1::after {
  content: "1";

}

.process__icon--2::after {
  content: "2";

}

.process__icon--3::after {
  content: "3";

}

.process__icon--4::after {
  content: "4";
}

.process__item--1{
  position: relative;
  top: 293px;
  left: 15px;
  text-align: right;

  
}
.process__item--2{
  position: relative;
  top: -36px;
  left: 30px;
  text-align: right;

  
}
.process__item--3{
  position: relative;
  top: -193px;
  left: 690px;
  
}
.process__item--4{
  position: relative;
  top: -30px;
  left: 836px;
  
}