.wrapper__why {
  margin: 0 auto;
  margin-bottom: 6.25rem;

}

.container__why,
.container__process {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 4.375rem;
  position: relative;
}

.container__why {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.25rem;
  box-sizing: content-box;
}



.container__title--why {
  padding-top: 7.5rem;
  font-size: 2rem;
  color: black;
  width: 75rem;
  margin-bottom: 5.3125rem;
}

.col__problems {
  display: flex;
  margin: 0 auto;
  width: 60.625rem;
  flex-flow: row;
  flex-wrap: wrap;
}

.col__keis--why {
  max-width: 517px;
  width: 50%;
  flex: 1;
  flex-flow: row;
  flex-wrap: wrap;
}

.problems__list {
  padding-left: .9375rem;
  right: 0rem;
}

.problems__item {

  list-style-type: disc;
  width: 20.3125rem;
  margin-bottom: 2.5rem;
  padding-left: 1.5625rem;
}

.col__title--why-left {
  padding: .3125rem 2.5rem;
  margin-bottom: 3.125rem;
}

.col__title--why-left::after {
  display: block;
  content: '';
  width: 4px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background: radial-gradient(at 100% 50%, transparent 2px, #651fff 2px, #651fff);
  background-size: 4px 6px;
  position: absolute;
  top: 0;
}

.col__title--why-right {
  margin-left: 3.75rem;

  width: 18.75rem;
  padding: .3125rem 1.875rem;
  margin-bottom: 3.125rem;
}

.col__title--why-right::before {
  display: block;
  content: '';
  width: 4px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background: radial-gradient(at 100% 50%, transparent 2px, #651fff 2px, #651fff);
  background-size: 4px 6px;
  position: absolute;
  top: 0;
  right: 4000px;
  transform: rotate(180deg);
}

.benefits__list--why {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

}

.benefits__item--why {
  flex: 2;
  display: flex;
  margin: 0 1.875rem 3.125rem 0;
}



.col__right--why {
  position: relative;
  border-right: none;
}




.benefits__icon--why {
  margin: 0 .3125rem 2.8125rem 0;
  min-width: 34px;
  min-height: 34px;
  border-radius: 50%;
  border: .5rem solid #FCBF14;
  display: block;
  position: relative;
}

.benefits__icon--why:before {
  content: "";
  display: block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #651FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits__desc--why {
  display: flex;
  padding-left: .625rem;
  width: 100%;
  flex-flow: row wrap;
}

.col__right--desc {
  padding-left: 3.75rem;
  display: flex;
  margin-bottom: 3.75rem;
}


.btn__why {
  padding-left: 3.75rem;
}

.why__footer {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  background-color: #7224EA;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);
}


.containeer__title--why-footer {
  font-size: 2rem;
  width: 80rem;
  padding-left: 1.25rem;
  margin-bottom: 3.125rem;

}

.benefits__list--why-footer {
  width: 80rem;
  padding-left: 1.25rem;
  color: #FFFFFF;
  display: flex;
  height: auto;
}

.benefits__item--why-footer {
  width: 100%;
  max-width: 37.5rem;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.benefits__icon--why-footer--left {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
}

.benefits__icon--why-footer--left:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: url(../img/house.svg) no-repeat;
  position: absolute;
  top: 80%;
  left: 75%;

}

.benefits__icon--why-footer--right {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
}

.benefits__icon--why-footer--right:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background: url(../img/factory.svg) no-repeat;
  position: absolute;
  top: 74%;
  left: 77%;


}

.why-footer__item-desc {
  padding-left: 20px;
  flex-flow: wrap;
}

.why-footer__item-desc--title {
  font-weight: 700 bold;
  font-size: 18px;
  flex-flow: wrap;
  display: flex;


}

.benefits__desc--why-footer {
  padding-top: 10px;
  padding-left: 0rem;
  max-width: 25rem;
  font-size: 14px;
  flex-flow:  row wrap;
  display: flex;
}